body{

    background-color: gray;

    font-family: Arial,sans-serif;
    color: white;
    margin: 0;
    text-align: center;
}
h1{
    color: crimson;
    text-align: center;
}

p{
    font-size: 24px;
}

h2{
    color: crimson;
    text-align: center;
}

h3{
    color: crimson;
    text-align: center;
}

h4{
    color: crimson;
    text-align: center;
}

img{
    display: block;
    margin: 20px auto;
    width: 150px;
}

ul{
    display: inline-block;
    padding-left: 20px;
    text-align: left;
}
